/* All palette */
:root {
  --color-white: #fff;
  --color-white-030: rgba(255, 255, 255, 0.3);
  --color-white-050: rgba(255, 255, 255, 0.5);
  --color-white-060: rgba(255, 255, 255, 0.65);
  --color-white-090: rgba(255, 255, 255, 0.9);
  --color-black: #000;
  --color-black-030: rgba(0, 0, 0, 0.3);
  --color-black-050: rgba(0, 0, 0, 0.5);
  --color-black-060: rgba(0, 0, 0, 0.65);
  --color-black-090: rgba(0, 0, 0, 0.9);
  --color-brown50: #fffbee;
  --color-brown100: #fdf6e9;
  --color-brown200: #f8f1e5;
  --color-brown300: #eee8db;
  --color-brown400: #ccc6ba;
  --color-brown500: #aea89c;
  --color-brown600: #847e73;
  --color-brown700: #6f6a5f;
  --color-brown800: #4f4a40;
  --color-brown900: #2d281f;
  --color-yellow50: #fef8e0;
  --color-yellow100: #fdecb0;
  --color-yellow200: #fce17d;
  --color-yellow300: #fad646;
  --color-yellow400: #facb0f;
  --color-yellow500: #fac200;
  --color-yellow600: #fbb400;
  --color-yellow700: #fca000;
  --color-yellow800: #fd8f00;
  --color-yellow900: #fe6e00;
  --color-yellow50-o: rgba(254, 248, 224, 0.4);
  --color-yellow100-o: rgba(253, 236, 176, 0.4);
  --color-yellow200-o: rgba(252, 225, 125, 0.4);
  --color-yellow300-o: rgba(250, 214, 70, 0.4);
  --color-yellow400-o: rgba(250, 203, 15, 0.4);
  --color-yellow500-o: rgba(250, 194, 0, 0.4);
  --color-yellow600-o: rgba(251, 180, 0, 0.4);
  --color-yellow700-o: rgba(252, 160, 0, 0.4);
  --color-yellow800-o: rgba(253, 143, 0, 0.4);
  --color-yellow900-o: rgba(254, 110, 0, 0.4);
}

/* Primary palette */
:root {
  --color-primary: var(--color-yellow500);
  --color-primary-o: var(--color-yellow500-o);
  --color-primary-light: var(--color-yellow50);
  --color-primary-light-o: var(--color-yellow50-o);
}
