@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'reset.scss';
@import 'color.scss';
@import 'font.scss';
@import 'size.scss';
@import 'animation.scss';

html,
body,
code {
  font-family: var(--font-primary-en);
  font-size: var(--font-size-m);
  font-size: var(--font-size-m-rem);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-adjust);
}

::selection {
  color: var(--color-white);
  background: var(--color-primary);
}
