@import 'typography.scss';
@import 'animation.scss';
@import 'effect.scss';
@import 'functions.scss';

:export {
  global-animation-duration-xs: $animation-duration-xs;
  global-animation-duration-s: $animation-duration-s;
  global-animation-duration-m: $animation-duration-m;
  global-animation-duration-l: $animation-duration-l;
}
